{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <meta charset="utf-8">
        <link href="{% static 'stylelogin.css' %}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="center">
            <div class="container">
                <div class="text">Login Form </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="data">
                        <label>Username</label>
                        <input type="text" name="user_name" placeholder="Enter your username" required>
                    </div>
                    <div class="data">
                        <label>Password</label>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </div>
                    <div class="forgot-pass"><a href="#">Forgot password?</a></div>
                    <div class="btn">
                        <div class="inner"></div>
                        <button type="submit">Login</button>
                    </div>
                    <div class="signup-link">Not a member? <a href="/register">SignUp</a></div>
                </form>
            </div>
        </div> 
    </body>  
</html>